*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug*/

.box{
    background-color: #dda04f;
}

.main-box{
    background-color: var(--bg-card-intro);
    height: 100px;
}

/* inizio CSS */

:root {
    --nav-color: #3684FD;
    --bg-card-intro: #b5ddff;
    --primary-color: #9792e4;
    --secondary-color: #fff;
}

main{
    padding-top: 100px;
}

.container{
    max-width: 440px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 9999;
    background-color: var(--nav-color);
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.card{
    background-color: var(--bg-card-intro);
    margin-bottom: 25px;
    padding: 10px;
}

#planning{
    background-color: var(--primary-color);
    padding: 50px 0;
}

#planning .column{
    margin-bottom: 30px;
}

#testimonial .cards{
    margin-bottom: 50px;
    
}

@media screen and (min-width:768px){
    .container{
        max-width: 740px;
    }

    #intro .cards {
        display: flex;
        flex-wrap: wrap;
        margin-left:-0.7rem;
        margin-right: -0.7rem;
    }

    #intro .card{
        width: calc((100% / 3) - 1.4rem);
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 1.4rem);
    }

    #planning .columns{
        margin: 0 50px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

    }

    #planning .column{
        width: 40%;
    }

    #testimonial .card:nth-child(1n+2){
        display: flex;
        justify-content: space-between;
    }

    #testimonial .card:nth-child(1n+2) .main-box:last-child{
        width: 80%;
    }


}

@media screen and (min-width:992px) {
    .container{
        max-width: 950px;
    }
    
    #intro .card:first-child{
        display: flex;
    }

    #intro .card:first-child div{
        width: 50%;
    }
}

@media screen and (min-width:1200px){
    .container{
        max-width: 1170px;
    }
}
